<div class="center jumbotron">
  <h1>welcome to rehome</h1>

  <h2>
    rehome is an open-source web application designed to help pets find homes
  </h2>

  <%= link_to "Sign Up!", sign_up_path, class: "btn btn-lg btn-primary" %>
</div>