<footer class="footer">
  <small>
    <a href="https://rehome.knightoftheoldcode.com/">rehome</a>
    by <a href="https://knightoftheoldcode.com/">Curtis Spendlove</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>